.teacherCard {
  background-color: var(--color-bg);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  gap: 48px;
  font-weight: 500;
}
.colorCard {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-card);
}

.avatarWrap {
  border: 3px solid var(--color-border);
  border-radius: 100px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  border-radius: 100px;
  width: 96px;
  height: auto;
}
.textWrap {
  flex: 1;
  min-width: 0;
}
.headWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}
.userWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
}
.user {
  font-size: 24px;
  line-height: 1;
}
.wrapRating {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-start;
}
.buttonLink {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: transform 0.3s ease;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0;
}
.iconBook {
  display: flex;
  gap: 8px;
  align-items: center;
}
.iconBook svg {
  fill: none;
  stroke: var(--color-text);
}
.colorPrice {
  color: #38cd3e;
}
.buttonHeart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 26px;
  height: 26px;
  margin-left: 48px;
}
.buttonHeart svg {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: var(--color-text);
}
.buttonHeart svg.favorite {
  fill: var(--color-bg-btn);
  stroke: var(--color-bg-btn);
}
.buttonHeart:hover,
.buttonHeart:focus,
.buttonLink:hover,
.buttonLink:focus {
  transform: scale(1.05);
}
.teachInfo {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.teachInfoSpeaks {
  display: flex;
  gap: 4px;
  align-items: center;
}
.decoration {
  text-decoration: underline;
}
.levelList {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}
.level {
  font-size: 14px;
  line-height: 1.14286;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
}
.level:first-child {
  border: none;
  background-color: var(--color-bg-btn);
}
.experience {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 32px;
}
.reviewList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviewWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviewsUserWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.reviewName {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-card);
}

.reviewsAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-weight: 500;
  color: rgb(18, 20, 23);
  border: 2px solid var(--color-bg-btn);
  background-color: var(--color-border);
  border-radius: 100px;
}
.reviewRating {
  font-size: 14px;
  line-height: 1.28571;
  display: flex;
  align-items: stretch;
  font-weight: 500;
  gap: 8px;
}
.reviewComment {
  font-size: 16px;
  line-height: 1.5;
}
.buttonTrial {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  border-radius: 12px;
  padding: 16px 48px;
  background-color: var(--color-bg-btn);
  margin-top: 32px;
  transition: transform 250ms ease;
}
.buttonTrial:hover,
.buttonTrial:focus {
  transform: scale(1.05);
}

@media screen and (max-width: 1439px) {
  .teacherCard {
    position: relative;
    flex-direction: column;
    gap: 24px;
  }
  .userWrap {
    position: absolute;
    flex-wrap: wrap;
    top: 24px;
    left: 200px;
  }
  .buttonHeart {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .levelList {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .teacherCard {
    padding: 18px;
  }
  .avatarWrap {
    width: 80px;
    height: 80px;
  }
  .avatar {
    width: 65px;
  }
  .userWrap {
    top: 18px;
    left: 110px;
  }
  .buttonHeart {
    top: 18px;
    right: 18px;
  }
  .wrapRating {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .iconStroke {
    display: none;
  }
  .headWrap {
    margin-bottom: 24px;
  }
}
