.authModal {
  --modal-width: 566px;
}
.header {
  padding: 20px 64px;
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.navLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  transition: color 250ms ease;
}
.navigation {
  display: flex;
}
.navigLinks {
  display: flex;
  align-items: center;
  gap: 28px;
}
.navigAuth {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navLink:hover,
.navLink:focus {
  color: var(--color-bg-btn);
}

.logLink {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: color 250ms ease;
}
.logLink:hover,
.logLink:focus {
  color: var(--color-bg-btn);
}
.regLink {
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-bg);
  background-color: var(--color-text);
  transition: color 250ms ease;
}
.regLink:hover,
.regLink:focus {
  color: var(--color-text);
  background-color: var(--color-bg-btn);
}
.logUserName {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-bg-btn);
}
.logOutLink {
  font-size: 16px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px 0;
  transition: color 250ms ease;
}
.logOutLink:hover,
.logOutLink:focus {
  color: var(--color-bg-btn);
}
.burgerButton,
.burgerButtonClose {
  display: none;
}
.mobileMenu {
  display: none;
}

@media screen and (max-width: 1439px) {
  .header {
    padding: 20px 0;
  }
  .burgerButton,
  .burgerButtonClose {
    display: block;
  }
  .burgerButton svg {
    width: 36px;
    height: 36px;
    fill: var(--color-text);
    stroke: var(--color-text);
  }
  .burgerButtonClose svg {
    width: 36px;
    height: 36px;
    fill: var(--color-text);
    stroke: var(--color-text);
  }
  .navigation,
  .navigAuth {
    display: none;
  }
  .mobileMenu {
    display: block;
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: calc(100% - 68px);
    background: var(--color-bg);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition:
      opacity 250ms ease,
      transform 500ms ease,
      visibility 250ms ease;
  }

  .menuOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .mobileNavigation {
    position: relative;
    display: flex;
    padding: 32px;
    width: 100%;
    height: 100%;
  }
  .mobileNavigationList {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .mobileNavigationList li {
    font-size: 20px;
  }
  .authLinkMobile {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    transition: color 250ms ease;
  }

  .authLinkMobile:hover,
  .authLinkMobile:focus {
    color: var(--color-bg-btn);
  }
}
