.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.wrapperText {
  border-radius: 30px;
  background-color: var(--color-bg-tchr);
  padding: 98px 64px;
}
.wrapperPhoto {
  min-width: 568px;
}
.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.spanText {
  font-weight: 400;
  font-style: italic;
  background-color: var(--color-border);
}
.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
  max-width: 471px;
}
.button {
  display: block;
  width: 100%;
  max-width: 267px;
  border-radius: 12px;
  padding: 16px 0;
  background-color: var(--color-bg-btn);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  margin-top: 32px;
  text-align: center;
}

.image {
  border-radius: 30px;
  width: 100%;
}
